@mixin fadeInSlide($duration, $start, $end, $delay, $name) {
    @keyframes #{$name} {
      0% {
        opacity: 0;
        transform: translateY($start);
      }
      100% {
        opacity: 1;
        transform: translateY($end);
      }
    }
  
    animation: #{$name} $duration linear $delay forwards;
  }
  
  .hero {
    & > img {
      @include fadeInSlide(2s, -20px, 0, 0.2s, fadeInSlideImage1);
    }
  
    & > h1 {
      @include fadeInSlide(2.5s, -30px, 0, 0.3s, fadeInSlideText1);
    }
  
    & > div button {
      @include fadeInSlide(3s, -40px, 0, 0.5s, fadeInSlideButton1);
    }
  }