@mixin fadeInDiscesa($durata, $inizio, $fine, $delay, $name) {
    @keyframes #{$name} {
      0% {
        opacity: 0;
        transform: translateY($inizio);
      }
      100% {
        opacity: 1;
        transform: translateY($fine);
      }
    }
  
    animation: #{$name} $durata linear $delay forwards;
  }
  
  .hero {
    & > img {
      @include fadeInDiscesa(2s, -20px, 0, 0.2s, fadeInDiscesaImg);
    }
  
    & > h1 {
      @include fadeInDiscesa(2.5s, -30px, 0, 0.3s, fadeInDiscesaText);
    }
  
    & > div button {
      @include fadeInDiscesa(3s, -40px, 0, 0.5s, fadeInDiscesaButton);
    }
  }