@mixin principal-title {
    text-align: center;
    font-size: $font-xl;
}

h1 {
    @include principal-title;
}

@mixin floating {
    border: 1px solid #fff;
    box-shadow: 3px 3px 7px 2px #888888;
    border-radius: 1em;
}


@mixin grid {
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    @include floating;
    margin-top: 1.5em;
    
}

section {
    @include grid;
}

nav {
    ul {
        list-style-type: none;
        @include grid;
        li {margin-right: 1.5em;}
        
    }
}

@mixin center {
    display: flex
    ;
        flex-direction: column;
        align-items: center;
}